	{% extends "base.html" %}

{% block title %} FGUGS || Delete {{ object.Teachers_name }} {% endblock %}
{% block content %}
	<article class="container edit_details" >
	<div class="btn-primary" style="padding:10px;border-radius:10px">Delete Teacher</div>
	<hr>
	  <div class="form-group">
	    <form method="POST">
		  {% csrf_token %}
		  
		  <div style="max-width:700px;margin:auto"><strong style="margin-right:100px">Are you sure to delete {{ object.Teachers_name }}?</strong>
		<button class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Deletes {{ object.Teachers_name }}">Yes</button>
		 <a href="{% url 'teacher_detail' object.pk %}" class="btn btn-primary" style="float:right" title="Takes you back to teacher details">No</a>
		 </div>
	</form>
	
	  </div>
	</article>
{% endblock %}