	{% extends "base.html" %}

{% block title %} Delete - {{ object.Name }} {% endblock %}
{% block content %}
	<article class="container edit_details" >
	<div class="btn-primary" style="padding:10px;border-radius:10px">Delete Administrator</div>
	<hr>
	  <div class="form-group">
	    <form method="POST">
		  {% csrf_token %}
		  
		  <div style="max-width:500px;margin:auto"><strong style="margin-right:100px">Delete {{ object.Name }}?</strong>
		  
		<button class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Deletes the administrator" onclick="return confirm('{{ object.Name }} will be deleted')">Yes</button>
		 <a href="{% url 'admin_detail' object.pk %}" class="btn btn-danger" style="float:right">
		 	<i class="fa fa-arrow-up"></i> No</a>
		 </div>
	</form>
	
	  </div>
	</article>
{% endblock %}