{% load static %}
<title>About LinksMedia</title>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class = "alert alert-secondary" role="alert">
<br><div class = " alert alert-primary" role="alert" style="border:solid blue 1px;border-radius:20px;padding:40px;margin:40px;min-height:450px">
      <div class = "alert alert-success" role="alert" style="border:solid blue 2px;font-size:30px">
      	<span>LINKS MEDIA</span>
      	<span style="float:right;margin:20px"><a href="{% url 'home' %}" class="btn btn-danger"><i class="fa fa-arrow-up"> Back to the main website</i></a></span>
<hr>
<b class="container">++SERVICES++ </b>
<ul>
	<li>Website Development</li>
	<li>GUI Development</li>
	<li>Logo Design</li>
	<li>Learn web development</li>
</ul>
<hr>
<b class="container">++ CONTACT ++</b><br>
<ul>
	<span class="fa fa-phone">  ==> </span><a href="tel:0702791043">  0725109389</a><br>
	<span class="fa fa-whatsapp">  ==> </span><a href="tel:0702791043">  Whatsapp</a><br>
	<span class="fa fa-facebook">  ==> </span><a href="tel:0702791043">  Facebook</a><br>
	<span class="fa fa-envelope">  ==> </span><a href="mailto:info@linksmedia.co.ke" target="_blank">  info@linksmedia.co.ke
</ul>
<hr>

</div>
</div>